<footer>
    <p><i class="fas fa-code"></i> MALIK TECH <i class="fas fa-code-branch"></i></p>
    <span style="font-size:0.8em;">Ch: <a href="https://whatsapp.com/channel/0029Vb9utHULSmbTBowQA12X" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i> CHANELL MUSIC</a></span>
</footer>
<script src="/js/script.js"></script>
</body>
</html>